<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- 需要监听的IP地址 -->
    <add key="IpAddr" value="127.0.0.1"/>
    <!-- 需要监听的端口号 -->
    <add key="Port" value="9004"/>
    <!-- 需要监控的进程名 -->
    <add key="ProcessName" value="SmartCenter.Host"/>
    <!-- 需要监控的服务名 -->
    <add key="ServiceName" value="JsstJieLinkSmartCenter"/>
    <!-- 循环周期，单位秒 -->
    <add key="LoopSeconds" value="60"/>
  </appSettings>
</configuration>